.content{
  padding-top: 20px;
}
.row{
  display: flex;
  gap: 10px;

  mat-form-field{
    width: 100%;
  }
}
.actions{
  padding: 0px 25px 20px;

button{
  flex: 1;

}
}
.clr1{
  background-color: red;
  color: white;
}
.clr2{
  background-color: green;
  color: white;
}
